# Macro for Unity YAML-based asset files.
[attr]unityyaml -text merge=unityyamlmerge diff
# Macro for all binary files that should use Git LFS.
[attr]lfs -text filter=lfs diff=lfs merge=lfs
# Default to auto-normalized line endings.
* text=auto
# Code
*.[cC][sS] text diff=csharp
*.[cC][gG][iI][nN][cC] text
*.[sS][hH][aA][dD][eE][rR] text
# Unity Text Assets
*.[mM][eE][tT][aA] unityyaml
*.[uU][nN][iI][tT][yY] unityyaml
*.[aA][sS][sS][eE][tT] unityyaml
*.[pP][rR][eE][fF][aA][bB] unityyaml
*.[mM][aA][tT] unityyaml
*.[aA][nN][iI][mM] unityyaml
*.[cC][oO][nN][tT][rR][oO][lL][lL][eE][rR] unityyaml
*.[oO][vV][eE][rR][rR][iI][dD][eE][cC][oO][nN][tT][rR][oO][lL][lL][eE][rR] unityyaml
*.[pP][hH][yY][sS][iI][cC][mM][aA][tT][eE][rR][iI][aA][lL] unityyaml
*.[pP][hH][yY][sS][iI][cC][sS][mM][aA][tT][eE][rR][iI][aA][lL]2[dD] unityyaml
*.[pP][lL][aA][yY][aA][bB][lL][eE] unityyaml
*.[mM][aA][sS][kK] unityyaml
*.[bB][rR][uU][sS][hH] unityyaml
*.[fF][lL][aA][rR][eE] unityyaml
*.[fF][oO][nN][tT][sS][eE][tT][tT][iI][nN][gG][sS] unityyaml
*.[gG][uU][iI][sS][kK][iI][nN] unityyaml
*.[gG][iI][pP][aA][rR][aA][mM][sS] unityyaml
*.[rR][eE][nN][dD][eE][rR][tT][eE][xX][tT][uU][rR][eE] unityyaml
*.[sS][pP][rR][iI][tT][eE][aA][tT][lL][aA][sS] unityyaml
*.[tT][eE][rR][rR][aA][iI][nN][lL][aA][yY][eE][rR] unityyaml
*.[mM][iI][xX][eE][rR] unityyaml
*.[sS][hH][aA][dD][eE][rR][vV][aA][rR][iI][aA][nN][tT][sS] unityyaml
*.[pP][rR][eE][sS][eE][tT] unityyaml
*.[aA][sS][mM][dD][eE][fF] -text diff
# Unity Binary Assets
*.[cC][uU][bB][eE][mM][aA][pP] lfs
*.[uU][nN][iI][tT][yY][pP][aA][cC][kK][aA][gG][eE] lfs
# Note: Unity terrain assets must have "-Terrain" suffix.
*-[Tt]errain.asset -unityyaml lfs
# Note: Unity navmesh assets must have "-NavMesh" suffix.
#*-[Nn]av[Mm]esh.asset -unityyaml lfs
# Image
*.[jJ][pP][gG] lfs
*.[jJ][pP][eE][gG] lfs
*.[pP][nN][gG] lfs
*.[aA][pP][nN][gG] lfs
*.[aA][tT][sS][cC] lfs
*.[gG][iI][fF] lfs
*.[bB][mM][pP] lfs
*.[eE][xX][rR] lfs
*.[tT][gG][aA] lfs
*.[tT][iI][fF][fF] lfs
*.[tT][iI][fF] lfs
*.[iI][fF][fF] lfs
*.[pP][iI][cC][tT] lfs
*.[dD][dD][sS] lfs
*.[xX][cC][fF] lfs
*.[lL][eE][oO] lfs
*.[kK][rR][aA] lfs
*.[kK][pP][pP] lfs
*.[cC][lL][iI][pP] lfs
*.[wW][eE][bB][mM] lfs
*.[wW][eE][bB][pP] lfs
*.[sS][vV][gG] lfs
*.[sS][vV][gG][zZ] lfs
*.[pP][sS][dD] lfs
*.[aA][fF][pP][hH][oO][tT][oO] lfs
*.[aA][fF][dD][eE][sS][iI][gG][nN] lfs
*.[hH][dD][rR] lfs
# Audio
*.[mM][pP]3 lfs
*.[oO][gG][gG] lfs
*.[wW][aA][vV] lfs
*.[aA][iI][fF][fF] lfs
*.[aA][iI][fF] lfs
*.[mM][oO][dD] lfs
*.[iI][tT] lfs
*.[sS]3[mM] lfs
*.[xX][mM] lfs
*.[bB][nN][kK] lfs
*.[wW][eE][mM] lfs
# Video
*.[mM][oO][vV] lfs
*.[aA][vV][iI] lfs
*.[aA][sS][fF] lfs
*.[mM][pP][gG] lfs
*.[mM][pP][eE][gG] lfs
*.[mM][pP]4 lfs
*.[fF][lL][vV] lfs
*.[oO][gG][vV] lfs
*.[wW][mM][vV] lfs
# 3D
*.[fF][bB][xX] lfs
*.[oO][bB][jJ] lfs
*.[mM][aA][xX] lfs
*.[bB][lL][eE][nN][dD] lfs
*.[bB][lL][eE][nN][dD][eE][rR] lfs
*.[dD][aA][eE] lfs
*.[mM][bB] lfs
*.[mM][aA] lfs
*.3[dD][sS] lfs
*.[dD][fF][xX] lfs
*.[cC]4[dD] lfs
*.[lL][wW][oO] lfs
*.[lL][wW][oO]2 lfs
*.[aA][bB][cC] lfs
*.3[dD][mM] lfs
*.[bB][iI][nN] lfs
*.[gG][lL][bB] lfs
# Executables
*.[eE][xX][eE] lfs
*.[dD][lL][lL] lfs
*.[sS][oO] lfs
*.[pP][dD][bB] lfs
*.[aA] lfs
# Packaging
*.[zZ][iI][pP] lfs
*.7[zZ] lfs
*.[gG][zZ] lfs
*.[rR][aA][rR] lfs
*.[tT][aA][rR] lfs
*.[bB][uU][nN][dD][lL][eE] lfs
# Documents
*.[oO][tT][fF] lfs
*.[tT][tT][fF] lfs
*.[dD][oO][cC] lfs
*.[dD][oO][cC][xX] lfs
*.[xX][lL][sS] lfs
*.[xX][lL][sS][xX] lfs
*.[pP][dD][fF] lfs
*.[cC][hH][mM] lfs
#Autogenerated VS/MD/Consulo solution and project files
*.mdb lfs
#Wwise
AkSoundEngine lfs
AkWaapiClient lfs